In [1]:
import pandas as pd
import numpy as np
s = pd.Series(['A','b','B','gaer','AGER',np.nan])
s

0       A
1       b
2       B
3    gaer
4    AGER
5     NaN
dtype: object

In [2]:
s.str.lower()#转换为小写

0       a
1       b
2       b
3    gaer
4    ager
5     NaN
dtype: object

In [3]:
s.str.upper()#转换为大写

0       A
1       B
2       B
3    GAER
4    AGER
5     NaN
dtype: object

In [4]:
s.str.len()#计算当前字符的长度

0    1.0
1    1.0
2    1.0
3    4.0
4    4.0
5    NaN
dtype: float64

In [8]:
index = pd.Index(['  tang','  yu   ','di'])# 创建包含三个字符串的索引对象
index

Index(['  tang', '  yu   ', 'di'], dtype='object')

In [7]:
index.str.strip()#去掉空格

Index(['tang', 'yu', 'di'], dtype='object')

In [9]:
index.str.lstrip()#去做空格

Index(['tang', 'yu   ', 'di'], dtype='object')

In [10]:
index.str.rstrip()#去右空格

Index(['  tang', '  yu', 'di'], dtype='object')

In [11]:
df = pd.DataFrame(np.random.randn(3,2),columns = ['A a','B b'],index = range(3))
df
#np.random.randn(3, 2),  # 生成 3x2 的随机标准正态分布数组
 #   columns=['A a', 'B b'],  # 列名包含空格
  #  index=range(3)          # 行索引使用整数 0, 1, 2

        A a       B b
0 -0.782785 -0.495200
1  2.013798  0.165851
2  1.542955  1.930692

In [15]:
df.columns = df.columns.str.replace(' ','_')#将空格替换为_
#df.columns：这是一个 Index 对象，里面存储着 DataFrame 的列名。
# 为 Index 对象提供的字符串访问器
#针对 Index 中的每个字符串元素，把其中的空格（' '）替换成下划线（'_'）。

In [16]:
df

        A_a       B_b
0 -0.782785 -0.495200
1  2.013798  0.165851
2  1.542955  1.930692

In [17]:
s = pd.Series(['a_b_C','c_d_e','f_g_h'])
s

0    a_b_C
1    c_d_e
2    f_g_h
dtype: object

In [18]:
s.str.split('_')# 对 Series 中的每个字符串按下划线分割

0    [a, b, C]
1    [c, d, e]
2    [f, g, h]
dtype: object

In [21]:
s.str.split('_',expand = True)

   0  1  2
0  a  b  C
1  c  d  e
2  f  g  h

In [23]:
s.str.split('_',expand = True,n=1)
#n=1（分割次数）：仅分割第一次出现的下划线。

   0    1
0  a  b_C
1  c  d_e
2  f  g_h

In [24]:
s = pd.Series(['A','Aas','Afgew','Ager','Agre','Ager'])

In [25]:
s

0        A
1      Aas
2    Afgew
3     Ager
4     Agre
5     Ager
dtype: object

In [28]:
s.str.contains('Ag')#判断是否包含Ag

0    False
1    False
2    False
3     True
4     True
5     True
dtype: bool

In [29]:
s = pd.Series(['a','a|b','a|c'])
s

0      a
1    a|b
2    a|c
dtype: object

In [33]:
s.str.get_dummies(sep = '|')#用于关联分析(e.g.将购物表转换能实际用到的表）
#对 Series 中的字符串按分隔符 | 进行独热编码（One-Hot Encoding），将分类数据转换为二进制列。
#str.get_dummies(sep='|')：
#按分隔符 | 分割每个字符串。
#为所有出现的唯一类别创建二进制列（存在为 1，不存在为 0）。

   a  b  c
0  1  0  0
1  1  1  0
2  1  0  1