### 对象的增删改查

In [4]:
import pandas as pd

### Series结构的增删改查

In [8]:
data = [10,11,12]
index = ['a','b','c']
s = pd.Series(data = data,index = index) #series一般指一列数据
s

a    10
b    11
c    12
dtype: int64

### 查操作

In [11]:
s.iloc[0]

np.int64(10)

In [12]:
s[0:2]

a    10
b    11
dtype: int64

In [13]:
mask = [True,False,True]
s[mask]

a    10
c    12
dtype: int64

In [14]:
s.loc['b']

np.int64(11)

In [15]:
s.iloc[1]

np.int64(11)

### 改操作

In [46]:
s1 = s.copy()#处理前copy，防止点错了
s1['a'] = 100
s1

a    100
b     11
c     12
dtype: int64

In [47]:
s1.replace(to_replace = 100,value = 101,inplace = True)
#改其他值时，执行replace操作即可
#to_replace=100：指定要替换的值（原数据中的旧值）。
#value=101：指定替换后的新值。
#inplace=True：直接在原 Series 上修改数据，不返回新对象。

In [48]:
s1

a    101
b     11
c     12
dtype: int64

In [49]:
s1.index

Index(['a', 'b', 'c'], dtype='object')

In [50]:
s1.index = ['a','b','d']
s1

a    101
b     11
d     12
dtype: int64

In [51]:
s1.rename(index = {'a':'A'},inplace = True)
s1

A    101
b     11
d     12
dtype: int64

### 增操作

In [52]:
data = [100,110]
index = ['h','k']
s2 = pd.Series(data = data,index = index)
s2

h    100
k    110
dtype: int64

In [53]:
s3 = pd.concat([s1,s2])# 将 s1 和 s2 按行合并

In [54]:
s3['j'] = 500#也可新加名字，指定一个值
s3

A    101
b     11
d     12
h    100
k    110
j    500
dtype: int64

s1.append(s2,ignore_index = False)

In [55]:
pd.concat([s1,s2],ignore_index = True)
#ignore_index = True表示忽略原索引，生成新的整数索引（从 0 开始）

0    101
1     11
2     12
3    100
4    110
dtype: int64

### 删操作

In [56]:
s1

A    101
b     11
d     12
dtype: int64

In [57]:
del s1['A']
s1

b    11
d    12
dtype: int64

In [58]:
s1.drop(['b','d'],inplace = True)#inplace = True表示在原始数据上执行这个操作
s1

Series([], dtype: int64)

### DataFrame结构的增删改查

In [59]:
data = [[1,2,3],[4,5,6]]
index = ['a','b']
columns = ['A','B','C']

df = pd.DataFrame(data=data,index=index,columns = columns)
df

   A  B  C
a  1  2  3
b  4  5  6

### 查操作是类似的

In [60]:
df['A']

a    1
b    4
Name: A, dtype: int64

In [61]:
df.iloc[0]

A    1
B    2
C    3
Name: a, dtype: int64

In [62]:
df.loc['a']

A    1
B    2
C    3
Name: a, dtype: int64

### 改操作

In [63]:
df.loc['a']['A']

np.int64(1)

In [64]:
df.loc['a']['A'] = 150
df

/var/folders/fd/2xpkmx291nb0f5ywz1xwc42h0000gn/T/ipykernel_8321/1499903300.py:1: FutureWarning: ChainedAssignmentError: behaviour will change in pandas 3.0!
You are setting values through chained assignment. Currently this works in certain cases, but when using Copy-on-Write (which will become the default behaviour in pandas 3.0) this will never work to update the original DataFrame or Series, because the intermediate object on which we are setting values will behave as a copy.
A typical example is when you are setting values in a column of a DataFrame, like:

df["col"][row_indexer] = value

Use `df.loc[row_indexer, "col"] = values` instead, to perform the assignment in a single step and ensure this keeps updating the original `df`.

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

  df.loc['a']['A'] = 150

     A  B  C
a  150  2  3
b    4  5  6

In [65]:
df.index = ['f','g']
df

     A  B  C
f  150  2  3
g    4  5  6

### 增操作

In [66]:
df.loc['c'] = [1,2,3]
df

     A  B  C
f  150  2  3
g    4  5  6
c    1  2  3

In [67]:
data = [[1,2,3],[4,5,6]]
index = ['j','k']
columns = ['A','B','C']

df2 = pd.DataFrame(data=data,index=index,columns = columns)
df2

   A  B  C
j  1  2  3
k  4  5  6

In [68]:
df3 = pd.concat([df,df2],axis = 0)
df3

     A  B  C
f  150  2  3
g    4  5  6
c    1  2  3
j    1  2  3
k    4  5  6

In [69]:
df2['Tang'] = [10,11]
df2

   A  B  C  Tang
j  1  2  3    10
k  4  5  6    11

In [70]:
df4 = pd.DataFrame([[10,11],[12,13]],index=['j','k'],columns=['D','E'])
df4

    D   E
j  10  11
k  12  13

In [71]:
df5 = pd.concat([df2,df4],axis = 1)
df5

   A  B  C  Tang   D   E
j  1  2  3    10  10  11
k  4  5  6    11  12  13

### 删操作

In [72]:
df5.drop(['j'],axis=0,inplace = True)
df5

   A  B  C  Tang   D   E
k  4  5  6    11  12  13

In [73]:
del df5['Tang']
df5

   A  B  C   D   E
k  4  5  6  12  13

In [74]:
df5.drop(['A','B','C'],axis = 1,inplace = True)
df5

    D   E
k  12  13